<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			15 years of experience in the software development with 8 years in project management, including<br/>
			program management; fluently in both Agile/Kanban and Waterfall, applying both Scrum and PMP<br/>
			best practices; leading multicultural teams/cross functional organizations on delivering new Product<br/>
			Services; and strong in customer engagement, negotiation. I also acquired a solid technical<br/>
			experience as a founder of an IT start-up<br/>
		</div>
		<br>
	</div>
</div>