<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			•	More than 13 years of experience in software development with 4 years playing Lead Development role <br/>
			•	Passionate programmer experienced in Java, PHP, C# and scripting languages <br/>
			•	Experienced in building Web Crawler, Online Travel Agency, Business Intelligence, Web/Media, Test Automation Framework, Enterprise/Cloud Application, IT Support Level 2 and recently Enterprise Web CMS <br/>
			•	Experienced in design and coding practices aka: Design Pattern, IoC, Clean Code, Unit Test, DRY, SOLID, Code Smell, Code Review, etc.... <br/>
			•	Experienced in Waterfall, PMP and certified Professional Scrum Master <br/>
			•	Passionate about new modern, trendy technologies aka: DevOps, Machine Learning, Big Data, IoT, etc…. <br/>
			•	Good at inter-personal, communication, problem-solving, time management, teamwork, stakeholders management skills <br/>
			•	Good communication in both English and Vietnamese <br/>
			•	Oversea working experience in US and Switzerland for almost 2 years (non-continuous) <br/>

		</div>
		<br>
	</div>
</div>
